## Use, .split(), and ifto create a Statement that will print out words that start with 's'

In [1]:
st = 'Print only the words that start with s in this sentence'

In [2]:
for n in st.split():
    if n.startswith('s'):
        print(n)

start
s
sentence

In [4]:
for n in st.split():
    if n.startswith('t'):
        print(n)

the
that
this

## Use range() to print all the even and odd numbers from 0 to 10.

In [12]:
for numb in range(11):
    if numb%2==0:
        print('even\n',numb)
    else:
        print('odd\n',numb)

even
 0
odd
 1
even
 2
odd
 3
even
 4
odd
 5
even
 6
odd
 7
even
 8
odd
 9
even
 10

## Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [14]:
for i in range(1,50):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [15]:
list=[ i for i in range(1,50) if i%3==0]
list

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

## Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [22]:
for i in range(0,100):
    if i%5==0 and i%3==0:
        print('FizzBuzz')
        continue
    elif i%3==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')

FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz

## Use List Comprehension to create a list of the first letters of every word in the string below

In [23]:
st = 'Create a list of the first letters of every word in this string'
list=[n[0] for n in st.split()]
list

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']